body{
    width: 1000px;
    margin: 0 auto;
}

/* [header]のスタイルシート */

/* 電話 */

.header1{
    float: right;
    background-color: #000;
    border-radius: 6px;
    padding: 15px 30px 10px 30px;
    position: relative;
    bottom: 30px;
    
}
.header1 .box1{
    color: #fff;
}

/* タイトル */

.header2{
    text-align: center;
}
.header2 h1{
    font-family: cursive;
}